footer {
  width: 100%;

  color: var(--white);

  font-family: var(--fparagraph);

  background-color: var(--primaryColor);

  margin-top: 10px;
  margin-bottom: 0px;

  display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-between;
    align-items: baseline;
}

footer > div > span > * {
  margin: 5px;
}

footer>div {
  width: auto;

  background-color: var(--primaryColor);
}