.animHeader {
    animation: none;
}

.animHeader:hover {
    animation: tada;
    animation-duration: 1s;
}

.animButton-Form {
    animation: none;
}

.animButton-Form:hover {
    animation: tada;
    animation-duration: 1s;
}