:root {
  --fprimaryHeader: "Cairo Play", cursive;
  --fsecondaryHeader: "Reem Kufi Fun", sans-serif;
  --fparagraph: "Lato", italic;
  --fWeightHeader: 700;
  --fWeightNormal: 400;
  --fItalic: italic;

  --primaryColor: #006076;
  --secondaryColor: #1d5b48;
  --bearColor: #654d29;

  --black: #1d1d1d;
  --white: #ffffff;

  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}
html {
  width: 100%;
  margin: 0px;
}

body {
  width: 100%;
  margin: 0%;
  color: var(--black);
  background-color: var(--white);
  overflow-x: hidden;
}

main {
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

main > section {
  width: 80%;
  margin-bottom: 90px;
}
